.navka{
    background-color: rgb(9, 35, 139);
    border-radius: 33px;
}
.navka ul{
    overflow:auto;
}
.navka li{
    float:left;
    list-style: none;
    margin: 22px 30px;
}
.navka li a{
    padding: 3px 3px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.navka li a:hover{
    color: rgb(193, 133, 133)
}